// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	word-wrap: break-word !important; 
} 

ul {
	display: table;
  	list-style: circle inside !important;
  	font-family: $sans;
  	font-size: 18px;
  	font-weight: 300;
}

ol {
	display: table;
	list-style-position:inside;
  	list-style: decimal;
  	font-family: $sans;
  	font-size: 18px;
  	font-weight: 300;
}

em {
	font-style: italic;
}

.full-single-article em {
	font-style: italic;
}

html body .home-page .home-field .article-list {
  font-family: $sans;
}

html body .full-single-article {
  font-family: $sans;
}

.all-posts {
	font-family: $sans;
}

.article-list .container article p img {
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    max-height: 500px;
}

.full-single-article .container {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.full-single-article .container p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article .container .gist {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article .container .code {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 480px) {
	.article-list .container article p img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		max-height: 500px;
	}
	
	.full-single-article .container p {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.full-single-article .title {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}

	.full-single-article .meta {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
	}

	.full-single-article  pre {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
	}

	.full-single-article  ol {
		width: 80% !important;
		list-style-position: outside !important;
		padding-left: 20px !important;
		margin-left: auto;
		margin-right: auto;
		word-wrap: break-word !important;
	}
	
	.full-single-article h2 {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
	}
	
	.full-single-article .container .gist {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
	}
	
	.full-single-article li {
		word-wrap: break-word !important;
		overflow-wrap: break-word !important;
	}
	
	.full-single-article .container .code {
		width: 100%;
	}
	
	.full-single-article .highlight .gutter {
		display: none;
	}
	
	footer .pull-right {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	footer .pull-right h4 {
		line-height: 1.5;
	}
	
	footer .col-md-1 {
		margin-bottom: 10px;
	}
}

.full-single-article .title {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article .meta {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article  pre {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article .highlight  pre {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article .highlight  code {
	line-height: 1.8em;
}

.full-single-article .highlight  .gutter {
	width: 1%;
	display: none;
}

.full-single-article .highlight  .code pre {
	height: 100%;
}

.full-single-article  ol {
	width: 50%;
	list-style-position: outside !important;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article  ul {
	width: 50%;
	list-style-position: outside !important;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px) and (min-width: 481px) {
	.full-single-article  ol {
		width: 60%;
		list-style-position: outside !important;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
	}
	
	.full-single-article .container ol li p {
		width: 90%;
	}

	.full-single-article .container ol li pre {
		width: 90%;
	}
}

.full-single-article .container ol li p {
	width: 100%;
}

.full-single-article .container ol li pre {
	width: 100%;
}

.full-single-article .container .wide-image {
	width: 100%;
}

.full-single-article h2 {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.full-single-article blockquote {
	padding-top: 0px;
}

.full-single-article blockquote p {
	font-style: italic;
	font-family: $sans;
}

.full-single-article .container p img {
  	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
	max-width: 100%;
    max-height: 500px;
}

.full-single-article .container .wide-image img {
  	display: block;
    width: 100%;
    max-height: none;
}

@media (max-width: 480px) {
	.full-single-article .container p img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		max-height: 500px;
	}
}

.video-container {
	margin-top: 40px;
}
.video-container .flash-video iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px) {
	.video-container .flash-video iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.her-row h4 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.home-field #about-me .social-icon-list {
	margin-top: 5px;
}

#about-me p {
	margin-bottom: 0px;
	font-family: $sans;
}

.pagination
{
	display: inline-block;
	width: 100%;
}
.pagination p {
	display: block;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 480px) {
	.pagination p {
		display: block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
}

.pagination p a {
	margin-right: 30px;
}